header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ffffff55;
    padding: 2px 10px 2px 10px;
}

header .headerSpan:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
header .headerSpan span{
    display: block;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: 1px solid #fff;
    text-align: center;
}

#ChatContainer{
    height: 84vh;
}
#ChatContainer .Chat{
    height: 95%;
}
#ChatInput{
    min-height: 30px;
    width: 92vw;
    border: none;
    border-radius: 5px;
    field-sizing: content;
    resize: vertical;
    
}
.ChatInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-top: 10px;
}
.ChatInputContainer button svg{
    height: 25px;
}

.Chat{
    background: radial-gradient(#1c2a4f , #242424 40%);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 20px;
}